{% extends "base.html" %}
{% block breadcrumb %} 
idc列表
{% endblock %}  
{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="">
                        <a href="/addidc" class="btn btn-sm btn-primary "> 添加机房 </a>
                            <div class="input-group">
                                <div class="input-group-btn">
                                </div>
                            </div>
                        </form>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">机房名</th>
                                <th class="text-center">机柜数量</th>
                                <th class="text-center">主机数量</th>
                                <th class="text-center">联系人</th>
                                <th class="text-center">电话</th>
				<th class="text-center">备注</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                       	{% if idcs %}
          		{%for idc in idcs%}
                		<tr>
                    			<td class="text-center">{{idc.name}}</td>
                    			<td class="text-center">{{idc.cabinets}}</td>
                    			<td class="text-center">{{idc.hosts}}</td>
                    			<td class="text-center">{{idc.contacts}}</td>
                    			<td class="text-center">{{idc.telephone}}</td>
					<td class="text-center">{{idc.remarks}}</td>
                    			<td class="text-center">
  			                <button data-id="{{idc['id']}}" class="btn btn-xs btn-info update">更新</button>
                    			<button data-id="{{idc['id']}}" class="btn btn-xs btn-danger del ">删除</button>
                    			</td>
                		</tr>
          		{%endfor%}
          		{%endif%} 
                        </tbody>
                    </table>
    </div>
</div>

<div class="modal fade" id="updataModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">更新IDC机房信息</h4>
      </div>
      <form id="updateForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
                            <input type="hidden" id='id' name="id" >
			    <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">机房名</label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="机房名" type="text" class="form-control" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="cabinets" class="col-sm-2 control-label">机柜数量</label>
                                <div class="col-sm-8">
                                    <input id="cabinets" name="cabinets" placeholder="机柜数量" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="hosts" class="col-sm-2 control-label">主机数量</label>
                                <div class="col-sm-8">
                                    <input id="hosts"  name="hosts" placeholder="主机数量" type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="contacts" class="col-sm-2 control-label">联系人</label>
                                <div class="col-sm-8">
                                    <input  id="contacts" name="contacts" placeholder="联系人" type="text" class="form-control">
                                </div>
                           </div>


                            <div class="form-group">
                                <label for="telephone" class="col-sm-2 control-label">电话<span class="red-fonts"></span></label>
                                <div class="col-sm-8">
                                    <input id="telephone"  name="telephone" placeholder="电话" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="remarks" class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-8">
                                    <input id="remarks" name="remarks" placeholder="备注" type="text" class="form-control">
                                </div>
                            </div>


     			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        			<button type="button" class="btn btn-primary" id="upbtn">确认</button>
      			</div>
		</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id='deleteModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
        <p>确认删除?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary del-sure" data-id=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

$('.del').click(function(){
    var id=$(this).attr('data-id')
    $('.del-sure').attr('data-id',id)
    $('#deleteModel').modal('show')
    
})

$('.del-sure').click(function(){
    var id=$(this).attr('data-id')
    var url="/delidc?uid="+id
    $.post(url,function(data){
        data = JSON.parse(data)
        if (data['code']==0){
                 swal({
                        title:"删除成功",
                        text: data['result'],
                        type: "success",
                        },function(){
                                location.reload()
                });
            }
    })
})


    $(".btn-info").click(function () {
        $("#updataModal").modal("show")
        var id=$(this).attr("data-id")
        $.getJSON("/updateidc",{uid:id},function (data) {
            $('#id').val(data['id'])
            $("#name").val(data["name"]);
            $("#cabinets").val(data["cabinets"]);
            $("#hosts").val(data["hosts"]);
            $("#contacts").val(data["contacts"])
            $("#telephone").val(data["telephone"])
            $("#remarks").val(data["remarks"])
        } )
    })

    $("#upbtn").click(function () {
        $.post("/updateidc",$("#updateForm").serialize(),function (data) {
            data=JSON.parse(data)
            if(data["code"]==0){
		   swal({
                    title:'更新成功',
                    text:"success",
                    type:'success',
                    },function(){
                        location.reload()
                    })
            }else{
                swal('Error',data['errmsg'],'error')
            }
        })
    })


$('#editable').DataTable({
    'bDestory': true,
    "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "上一页",
        "sNext": "下一页",
        "sLast": "末页"
        }
    },
    "order": [[ 0,"asc" ]]
});

    </script>

{% endblock %}
